Connected Services/CASalesTax/CATaxRateAPI1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetTaxRateXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaxRateXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTaxRateXMLResult" type="tns:CATaxResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CATaxResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Rate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Confidence" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Jurisdiction" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TAC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetTaxRate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="taxrate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="county" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jurisdiction" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaxRateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetTaxRateResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="taxrate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="county" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jurisdiction" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTaxRateXMLSoapIn">
    <wsdl:part name="parameters" element="tns:GetTaxRateXML" />
  </wsdl:message>
  <wsdl:message name="GetTaxRateXMLSoapOut">
    <wsdl:part name="parameters" element="tns:GetTaxRateXMLResponse" />
  </wsdl:message>
  <wsdl:message name="GetTaxRateSoapIn">
    <wsdl:part name="parameters" element="tns:GetTaxRate" />
  </wsdl:message>
  <wsdl:message name="GetTaxRateSoapOut">
    <wsdl:part name="parameters" element="tns:GetTaxRateResponse" />
  </wsdl:message>
  <wsdl:portType name="CATaxRateAPISoap">
    <wsdl:operation name="GetTaxRateXML">
      <wsdl:input message="tns:GetTaxRateXMLSoapIn" />
      <wsdl:output message="tns:GetTaxRateXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTaxRate">
      <wsdl:input message="tns:GetTaxRateSoapIn" />
      <wsdl:output message="tns:GetTaxRateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CATaxRateAPISoap" type="tns:CATaxRateAPISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTaxRateXML">
      <soap:operation soapAction="http://tempuri.org/GetTaxRateXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxRate">
      <soap:operation soapAction="http://tempuri.org/GetTaxRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CATaxRateAPISoap12" type="tns:CATaxRateAPISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTaxRateXML">
      <soap12:operation soapAction="http://tempuri.org/GetTaxRateXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxRate">
      <soap12:operation soapAction="http://tempuri.org/GetTaxRate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CATaxRateAPI">
    <wsdl:port name="CATaxRateAPISoap" binding="tns:CATaxRateAPISoap">
      <soap:address location="http://172.30.39.158/CATaxOnline/CATaxRateAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="CATaxRateAPISoap12" binding="tns:CATaxRateAPISoap12">
      <soap12:address location="http://172.30.39.158/CATaxOnline/CATaxRateAPI.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>